<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- IMU functionality is not yet tested -->
    <!-- To read the data, use $ ros2 topic echo /imu/data -->

    <joint name="chassis_imu_joint" type="fixed">

        <parent link="chassis_link" />
        <child link="imu_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />

    </joint>

    <link name="imu_link" />

    <!-- Gazebo plugin for IMU sensor -->
    <!-- Refer to https://github.com/ros-simulation/gazebo_ros_pkgs/blob/ros2/gazebo_plugins/include/gazebo_plugins -->
    <gazebo reference="imu_link">
        <sensor name="imu" type="imu">

            <!-- ensure the sensor is active (required) -->
            <always_on>true</always_on>
            <update_rate>30</update_rate>

            <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
                <ros>
                    <!-- publish to /imu/data -->
                    <namespace>/imu</namespace>
                    <remapping>~/out:=data</remapping>
                </ros>
            </plugin>

        </sensor>
    </gazebo>

</robot>