<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="shoulder_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="upper_leg_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="lower_leg_link">
        <material>Gazebo/Grey</material>
    </gazebo>

</robot>